/* tipo de letra  */

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* Estilos página */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato';
    margin: 10px 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header {
    position: fixed;
    top: 0;
    display: grid;
    justify-self: center;
    align-self: center;
    margin: 0 auto 20px;
    border: 1px solid #baba;
    background-color: #ffffff;
    width: 100%;
    height: 90px;
    /* border-radius: 20px; */
    box-shadow: -5px 5px 20px #baba;
}

.header nav ul {
    display: grid;
    /* grid-template-columns: repeat(5, 1fr); */
    grid-template-columns: repeat(5, 200px);
    align-items: center;
    justify-items: center;
    list-style: none;
}

.header nav ul li img {
    width: 80px;
    height: calc(100% - 5px);
}

.header nav ul li button {
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 1.2rem;
}

.header nav ul li button:hover {
    text-decoration-line: underline;
    line-height: 50px;
}

.container {
    display: grid;
    margin: 0 auto;
    margin-top: 10em;
    padding: 50px;
    border: 1px solid #baba;
    width: 80%;
    height: 100vh;
    border-radius: 20px;
    box-shadow: -5px 5px 20px #baba;
}

.container .mision {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-self: center;
    height: 300px;
    gap: 20px;
    top: 50px;
}

.container .mision div {
    width: 350px;
    height: inherit;
    border: 1px solid #000;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    margin: auto 0;
}

.container .mision div h3 {
    margin-bottom: 20px;
    text-align: center;
}

.container .mision div p {
    line-height: 2;
}

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: left;
    margin: 20px auto 0;
    padding: 20px;
    border: 1px solid #baba;
    width: 80%;
    height: auto;
    border-radius: 20px;
    box-shadow: -5px 5px 20px #baba;
}

.footer .redes {
    position: fixed;
    bottom: 50px;
    right: 50px;
}

.footer .redes a img {
    width: 50px;
}

.footer div h3 {
    text-decoration-line: underline;
    line-height: 3;
}